<blockquote>
<h1>Editing Book</h1>
<br>
<br>
<%= form_with model: @book, method: :patch do |f| %>

<br>
  Title
  <br>
  <%= f.text_field :title %><br>
 <br> 
  Body<br>
  <%= f.text_area :body %>
<br>
  <%= f.submit 'Update Book' %>
<br>
<br>
  <%= link_to "show", book_path(@book.id) %> 
  ｜
  <%= link_to"back", "/books" %>
  
  
<% end %>
</blockquote>