
<blockquote>
    
<div>
  <%= flash[:notice] %>
</div>
    
<h1>Showing Book</h1>

<p>
    <strong>Title:</strong>
<%= @book.title %>
</p>

<p>
    <strong>Body:</strong>
<%= @book.body %>
</p>

<%= link_to"edit", edit_book_path(@book.id) %>
｜
<%= link_to"back", "/books" %>

</blockquote>